<section id="admin-debug" ng-show="isAdmin" style="background: #363636; padding: 10px; margin: 10px 0;">
  <button class="btn btn-success btn-xs" type="button" ng-click="resetDatabase()">清空 Local DB</button>
  <button class="btn btn-success btn-xs" type="button" ng-click="getDatabaseInfo()">DB 資訊</button>
  <button class="btn btn-success btn-xs" type="button" ng-click="debugUserData()">user資訊</button>
  <button class="btn btn-success btn-xs" type="button" ng-click="debugGeolocation()">座標</button>
</section>